.desBox{
    margin: 120px 170px ;
}

.desBox_navigator{
    display: flex;
}

.desBox_navBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #e2e1e1;
}
.desBox_navBox.fade{
    background: #fbfbfb;
    color: #555;
}
.desBox_description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #dedede;
    padding: 48px;
    padding-bottom: 70px;

}